* {
  box-sizing: border-box;
}

body{
  font-family: "Noto Sans", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 94px;
  position: relative;
}

.header {
  min-height: 100vh;
}

.header-image {
  background-image: url('../img/header-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; /*позиция родителя*/
}

.header-image::before {
content: "";
position: absolute; /*позиционирование относительно родителя*/
background: rgba(41, 45, 51, 0.6);
top: 0; /*прилигание плажки к верху экрана*/
left:0;
width: 100%;
height: 100%;
z-index: 0; /*позиция в слоях*/
}
.header-logo {
  padding: 25px 50px;
}

.header-nav {
  display: flex; /* гибкость*/
  flex-basis: 100%; /* ширина большая*/
  list-style: none; /* отключение точек*/
  padding: 0 50px; /*отключение отступов 50 означает отступ по краям в пх*/
  margin: 0;
}

.header-nav-link {
 text-decoration: none;
 font-size: 10px;
 margin-right: 50px;
 color: inherit;
}

.header-phone {
  flex-shrink: 0;  /*означает что не надо скукоживать-смещать */
  display: flex;
  align-items: center;
  gap: 10px;  /*отступ на 10 пх*/
  margin-right: 50px;
}

.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.button {
  font-weight: 600;
font-size: 16px;
line-height: 160%;
color: #FFFFFF;
background: #3A71D1;
display: flex;
align-items: center;
justify-content: center;
padding: 25px 60px;
gap: 10px;
border: none;
flex-shrink: 0;
}

.header-button {
  height: 100%;
}