* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/BebasNeueBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

body{
  font-family: "Noto Sans", sans-serif;
}

.container {
 max-width: 1440px;
 margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 94px;
  position: relative;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2); /*рамка снизу*/
}

.header {
  min-height: 100vh;
}

.header-image {
  background-image: url('../img/header-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; /*позиция родителя*/
}

.header-image::before {
content: "";
position: absolute; /*позиционирование относительно родителя*/
background: rgba(41, 45, 51, 0.6);
top: 0; /*прилигание плажки к верху экрана*/
left:0;
width: 100%;
height: 100%;
z-index: 0; /*позиция в слоях*/
}
.header-logo {
  padding: 25px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%; /*высота относительно родителя*/
}

.header-nav {
  display: flex; /* гибкость*/
  flex-basis: 100%; /* ширина большая*/
  list-style: none; /* отключение точек*/
  padding: 0 50px; /*отключение отступов 50 означает отступ по краям в пх*/
  margin: 0;
}

.header-nav-link {
 text-decoration: none;
 font-size: 10px;
 margin-right: 50px;
 color: inherit;
}

.header-phone {
  flex-shrink: 0;  /*означает что не надо скукоживать-смещать */
  display: flex;
  align-items: center;
  gap: 10px;  /*отступ на 10 пх*/
  margin-right: 50px;
}

.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  background: #3A71D1;
  padding: 25px 60px;
  border: none;
  display: inline-block; /*выровняла кнопку 2*/
  cursor: pointer; /*меняет стиль курсора при наведении на кнопку*/
}

.navbar-button {
flex-shrink: 0;
height: 100%;
}

.header-button {
  height: 100%;
}

.seporator {
  background: #5C8EE6;
  width: 150px;
  height: 2px;
}

.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  color:#fff;
}

.header-title {
  max-width: 1080px;
  font-family: 'Bebas Neue Book';
  margin: 30px 0;
  }

.header-text {
  max-width: 720px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 50px;
}

.header-features {
  display: flex; /*выравнивает в линию*/
  height: 168px;
  padding: 0; /*отключает настройку отступов по краям*/
  margin-top: 100px;
  list-style: none;
  color: #fff;
  position: relative; /*вылазиет вперед не остается в тени*/
  }

.header-features-item {
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
  
  }
  .header-features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }
  .header-features-item:not(:last-child) {
    border-right: none;
  }
  