* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/BebasNeueBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.container {
 max-width: 90rem;
 margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2); /*рамка снизу*/
  transition: background-color 0.2s; /*плавное изменение цвета шапки при перемещении*/
}

.navbar-light {
  background-color: #fff;
  color: #292D33;
}

.navbar-light .header-logo-path {
  fill:#292D33;
}

.header {
  width: 100%;
}

.header-image {
  background-image: url('../img/header-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; /*позиция родителя*/
}

.header-image::before {
  content: "";
  position: absolute; /*позиционирование относительно родителя*/
  background: rgba(41, 45, 51, 0.6);
  top: 0; /*прилигание плажки к верху экрана*/
  left:0;
  width: 100%;
  height: 100%;
  z-index: 0; /*позиция в слоях*/
}
.header-logo {
  border-right: 1px solid rgba(235, 235, 240, 0.2);
   /*высота относительно родителя*/
}

.header-nav {
  display: flex; /* гибкость*/
  flex-basis: 100%; /* ширина большая*/
  list-style: none; /* отключение точек*/
  padding: 0 3.125rem; /*отключение отступов 50 означает отступ по краям в пх*/
  margin: 0;
}

.header-nav-item:not(last-child) {
  margin-right: 3.125rem;
}

.header-nav-link {
  text-decoration: none;
  font-size: .625rem;

  color: inherit;
}

.header-phone {
  flex-shrink: 0;  /*означает что не надо скукоживать-смещать */
  display: flex;
  align-items: center;
  gap: .625rem;  /*отступ на 10 пх*/
  margin-right: 3.125rem;
}

.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.button {
  font-size: 1rem;
  line-height: 160%;
  color: #FFFFFF;
  background: #3A71D1;
  border: none;
  display: inline-block; /*выровняла кнопку 2*/
  cursor: pointer; /*меняет стиль курсора при наведении на кнопку*/
}

.navbar-button {
flex-shrink: 0;
height: 100%;
}

.header-button {
  height: 100%;
}

.seporator {
  background: #5C8EE6;
  width: 9.375rem;
  height: .125rem;
}

.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color:#fff;
  padding: 9.375rem 6.25rem;
  
}

.header-title {
  max-width: 67.5rem;
  font-family: 'Bebas Neue Book';
  margin: 1.875rem 0;
}

.header-text {
  max-width: 45rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
}

.header-features {
  display: flex; /*выравнивает в линию*/
  height: 10.5rem;
  padding: 0; /*отключает настройку отступов по краям*/
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  position: relative; /*вылазиет вперед не остается в тени*/
  }

.header-features-item {
  padding: 1.875rem 3.125rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
  
  }
  .header-features-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
  }
  .header-features-item:not(:last-child) {
    border-right: none;
  }
.section{
  padding: 3.125rem 6.25rem;
  margin-top: 9.375rem; /*отступ сверху*/
  margin-bottom: 9.375rem; /*отступ снизу*/
  }
.section-title {
  font-family: 'Bebas Neue Book';
  color: #292D33;
  font-size: 3.75rem;
  line-height: 120%;
  }

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem; /*отступ между блоками текста*/
  }

  .steps-item {
    max-width: 20.625rem;
  }

  .steps-num {
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    color: #5C8EE6;
    font-family: 'Bebas Neue Book';
    display: flex;
    align-items: center;
  }

  .steps-num::after {
    content:"";
    height: .0625rem;
    background: #EBEBF0;
    width: 100%;
    margin-left: 1.875rem;

  }

  .steps-title {
    margin-top: 1.875rem;
    margin-bottom: .625rem;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 160%;
    color: #292D33;
  }
  
  .steps-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #828A99;
    margin-top: .625rem;
    margin-bottom: 1.25rem;
  }
 
  .steps-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
    color: #5C8EE6;
  }

  .steps-link:before {
    content:"";
    height: .0625rem;
    background: #5C8EE6;
    width: 2.5rem;
    margin-right: 1.25rem;
  }
@media (max-width:1700x) {
   html {
    font-size: 14px;
   }
   .header-image {
    background-position: center;
   }
}
@media (max-width:1460x) {
  html {
   font-size: 13px;
  }
  .header-image {
   background-position: center;
  }
}